@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* COMMON */
body {
  background-color: #F1F5F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-center {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  padding: 32px;
  width: 95vw;
  margin: 0 auto;
  max-width: 560px;
  margin-top: 128px;
}
.section-center .todo-form {

}
.section-center .todo-form .alert {
  margin-bottom: 16px;
  height: 20px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 11.2px;
  border-radius: 4px;
  letter-spacing: 4px;
  text-transform: capitalize;
  font-weight: 900;
}
.alert-success {
  color: darkgreen;
  background-color: aquamarine;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.section-center .todo-form h3 {
  color: rgb(6, 50, 81);
  margin-bottom: 24px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: capitalize;
}
.section-center .todo-form .form-control {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
.section-center .todo-form .form-control input {
  padding: 4px;
  font-size: 16px;
  padding-left: 16px;
  background-color: rgb(241, 245, 248);
  border-radius: 8px 0 0 8px;
  border-color: transparent;
  color: rgb(97, 125, 152);
  width: 430px;
}
.section-center .todo-form .form-control button {
  background-color: #f8d7da;
  border-color: transparent;
  padding: 4px;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: all 0.3s linear;
  font-size: 13.6px;
  width: 80px;
}
.section-center .todo-form .form-control button:hover {
  color: #fff;
  background-color: pink;
}
.section-center .container {
  margin-top: 32px;
  transition: all 0.3s linear;
  visibility: hidden;
}
.show-container {
  visibility: visible !important;
}
.section-center .container .list {

}
.section-center .container .list .item {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  margin-bottom: 8px;
  transition: all 0.3s linear;
  padding: 4px 16px;
  /* border-radius: 8px; */
  text-transform: capitalize;
}
.section-center .container .list .item:hover {

}
.section-center .container .list .item p {
  margin-bottom: 0;
  letter-spacing: 2px;
  transition: all 0.3s linear;
}
.section-center .container .list .item .btn-container {

}
.section-center .container .list .item .btn-container button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 11.2px;
  transition: all 0.3s linear;
}
.section-center .container .list .item .btn-container .edit-btn {
  color: rgb(107, 230, 117);
}
.section-center .container .list .item .btn-container .delete-btn {
  color: red;
}
.container .clear-btn {
  text-transform: capitalize;
  width: 160px;
  height: 24px;
  background-color: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  display: grid;
  font-size: 15px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 20px;
}
