@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(210, 36%, 96%);
}
main {
  .center-window {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 32px;
    margin: 0 auto;
    max-width: 496px;
    margin-top: 128px;
    .grocery-form {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .status-alert {
        margin-bottom: 16px;
      }
      h3 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: 24px;
      }
      .input-container {
        display: flex;
        justify-content: center;
        .grocery-input {
          background-color: #f1f5f8;
          padding: 4px 4px 4px 16px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border: 1px solid;
          border-color: transparent;
          //   공부
          flex: 1 0 auto;
          &::placeholder {
            color: hsl(211, 27%, 70%);
            font-size: 16px;
          }
          &:focus {
            color: #212529;
            border-color: hsl(211, 27%, 70%);
            outline: 0;
          }
        }
        .submit-btn {
          cursor: pointer;
          background-color: #a5d5f8;
          color: #fff;
          width: 70px;
          padding: 4px;
          border-color: transparent;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
    .grocery-lists {
      .groceries {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
